<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite1">
  <test thread-count="5" name="Testing">
    <classes>
           <class name="TestSuite1.Module1">
      <methods>
		  <include name="test001">
		  </include>
	  </methods>
      </class>
      <class name="TestSuite1.Module2">
		  <methods>
			  <exclude name="test003"></exclude>
		  </methods>
      </class>
    </classes>
  </test> <!-- Testing -->
</suite> <!-- TestSuite1 -->
